#c1{
  border-style: solid;
  border-color: red;
  border-width: 2px;
  height: 100px;
}

.wtable {
  width: 20%;
}

.wtable1{
  width: 20%;
}

.hoverTitle:hover{
  background-color: #CADEE5;
  color: grey;
  font-style: normal;
  cursor:pointer;
}
.hoverTitle:active{
  background-color: #707B7F;
}


.modal-title{
  text-align: center;
}

.hmap2{
  height: 60px;
}
