
.scrollable-menu {
    height: auto;
    max-height: 200px;
    overflow-x: hidden;
}

#a1{
  padding-top: 20px;
}

.angular-google-map-container  {
  height: 400px;
}

.dropdown-menu{
  width: 100%;
}

.mheader{
    font-size: 20px;
    padding-top: 2px;
}

#b1{
  border-left: 1px;
  border-right: 0px;
  border-top: 0px;
  border-bottom: 0px;
  border-color: grey;
  border-style: solid;

}

#region1{
  width: 30%;
}

.hmap{
  height: 50px;
}

.rtable{
  width: 55%;
}

#m1{
  margin-right: 5%;
  margin-left: 5%;
}

.aheader{
  margin-left: 1px;
  font-size: 15px

}

.modal { overflow: auto; }
/*body.modal-open {
    overflow: hidden;
}*/
