/*#c1{
  border-style: solid;
  border-color: red;
  border-width: 2px;
  height: 100px;
}
#c2{
  border-style: solid;
  border-color: blue;
  border-width: 2px;
  height: 100px;
}*/
.scrollable-menu {
    height: auto;
    max-height: 200px;
    overflow-x: hidden;
}
