<div class="footer">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-10 col-md-offset-1">
        <div id="ff1" class="col-md-4">
            <p><b>Contact</b><p>
            <p class="tcolor">Reg Corp1 123-456-7890</p>
            <p class="tcolor">Reg Corp2 223-456-7890</p>
            <p class="tcolor">irms.corporation@gmail.com</p>
        </div>
        <div id="ff2" class="col-md-4">
          <p><b>Policies</b><p>
          <p class="tcolor">Terms and Conditions</p>
          <p class="tcolor">Terms of Use</p>
          <p class="tcolor">Privacy Policy</p>
        </div>
        <div class="col-md-4">
          <p class="tcolor"><small>Copyright &copy 2017 irms.com</small></p>

        </div>
      </div>

    </div>
  </div>
</div>
