<!-- header -->
<div class="row" ng-include="'app/templates/header.html'">
</div>
<div class="row">
  <div class="col-lg-10 col-lg-offset-1 text-center">
    <div class="col-lg-8 col-md-8 col-sm-8 col-xs-8">
      <button class="btn btn-block btn btn-danger" type="button" name="button" ui-sref="makepost"><b>Click to make a New Post</b> <span class="glyphicon glyphicon-pencil"></span> </button>
    </div>
    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
      <div class="dropdown">
        <button class="btn btn-block btn-primary dropdown-toggle" type="button" data-toggle="dropdown">Select Category <span class="caret"></span></button>
        <ul class="dropdown-menu">
          <li><a href="" onclick="updateTag('All');">All Categories</a></li>
          <li role="separator" class="divider"></li>
          <li class="dropdown-header">Disaster</li>
          <li><a href="" onclick="updateTag('flooding');">Flooding</a></li>
          <li role="separator" class="divider"></li>
          <li class="dropdown-header">Public Infrasture</li>
          <li><a href="" onclick="updateTag('road_repair');">Road Repairs</a></li>
          <li role="separator" class="divider"></li>
          <li class="dropdown-header">Health Hazards</li>
          <li><a href="" onclick="updateTag('garbage_collection');">Garbage Collection</a></li>
        </ul>
      </div>
    </div>
  </div>
</div>

<div id="a1"class="row">
  <div class="col-lg-10 col-lg-offset-1">
    <div class="col-lg-12 col-md-12 col-sm-12">
      <div id="r1" class="panel panel-default bshadow">
        <div class="panel-heading hmap2">
          <div class="form-group pull-right">
            <button type="submit" class="btn btn-warning" onclick="getPostQ2();">Update</button>
          </div>
          <div class="form-group pull-right space">
            <select id="region2" class="form-control">
              <option value="All">Counties - All</option>
              <option value="Caroni">Caroni</option>
              <option value="Mayaro">Mayaro</option>
              <option value="Nariva">Nariva</option>
              <option value="Saint Andrew">Saint Andrew</option>
              <option value="Saint David">Saint David</option>
              <option value="Saint George">Saint George</option>
              <option value="Saint Patrick">Saint Patrick</option>
              <option value="Victoria">Victoria</option>
            </select>
          </div>
          <h3 class="panel-title mheader">Infrastructure Reports Forum : <a id="Cat">All</a></h3>
        </div>
          <table class="table table-bordered table-condensed">
            <thead>
              <tr>
                <th>Title</th>
                <th>Status</th>
                <th>Date Posted</th>
                <!-- <th>Like/Dislike</th> -->
              </tr>
            </thead>
            <tbody id="posttable">
              <tr id="status" class="alert alert-warning">
                <td class="hoverTitle" data-toggle="modal" data-target="#myModal">Default Post</td>
                <td class="wtable" id="status1">Ongoing<span id="status2" class="glyphicon glyphicon-cog pull-right"></span></td>
                <td class="wtable">03/01/2017</td>
              </tr>
            </tbody>
          </table>
      </div>
    </div>
  </div>
</div>
<div class="row" ng-include="'app/templates/footer.html'">
</div>



<div class="modal fade" tabindex="-1" id="myModal" role="dialog">
    <div class="modal-dialog modal-lg">

      <!-- Modal content-->
      <div class="panel panel-success">
        <div class="panel-heading">TITLE<button type="button" class="close" data-dismiss="modal"><span class="glyphicon glyphicon-remove-circle"></span></button></div>
         <div class="panel-body">
          <div class="col-md-6">
            <h4>Category</h4>
                Health Hazards - Garbage Collection
            <br><hr>
            <h4>Location - Address</h4>
                Chaguanas Main Road
            <br>
          </div>
          <div class="col-md-6">
            <h4>Status</h4>
                Ongoing
            <br><hr>
            <h4>Date</h4>
                03/02/2017
            <br>
          </div>
          <div class="col-md-12">
            <hr>
            <h4>Summary</h4>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
          </div>
        </div>
      </div>

    </div>
</div>
