<!-- header -->
<!-- Forum Page-->
<div class="row" ng-include="'app/templates/header.html'">
</div>
<div class="row">
  <div class="col-lg-10 col-lg-offset-1 text-center">
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
      <!-- make a new post button -->
      <button class="btn btn-block btn btn-danger" ng-disabled ="currentUser == null" type="button" name="button" ui-sref="makepost"><b>Click to make a New Post</b> <span class="glyphicon glyphicon-pencil"></span> </button>
    </div>
  </div>
</div>

<div id="a1"class="row">
  <div class="col-lg-10 col-lg-offset-1">
    <div class="col-lg-9 col-md-9 col-sm-9">
      <div id="r1" class="panel panel-default bshadow pheight">
        <div class="panel-heading hmap2">
          <h3 class="panel-title mheader">Infrastructure Reports Forum : <i id="Cat"></i></h3>
        </div>
          <table class="table table-bordered table-condensed">
            <thead>
              <tr>
                <th>Title</th>
                <th>Status</th>
                <th>Date Posted</th>
              </tr>
            </thead>
            <!-- forum post table -->
            <tbody id="posttable">
              <tr id="status" ng-repeat="p in posts | orderBy:order" ng-switch="p.current_status">
                <!-- ongoing status -->
                <td ng-switch-when="ongoing" class="alert alert-warning hoverTitle" data-toggle="modal" data-target="#myModal">{{p.title}}</td>
                <td ng-switch-when="ongoing" class=" alert alert-warning wtable" id="status1">{{p.current_status}}<span id="status2" class="glyphicon glyphicon-cog pull-right"></span></td>
                <td ng-switch-when="ongoing" class=" alert alert-warning wtable">{{p.date}}</td>
                <!-- fixed status-->
                <td ng-switch-when="fixed" class="alert alert-success hoverTitle" data-toggle="modal" data-target="#myModal">{{p.title}}</td>
                <td ng-switch-when=fixed class=" alert alert-success wtable" id="status1">{{p.current_status}}<span id="status2" class="glyphicon glyphicon-ok pull-right"></span></td>
                <td ng-switch-when="fixed" class=" alert alert-success wtable">{{p.date}}</td>
              </tr>
            </tbody>
          </table>
      </div>
    </div>
    <!-- Category search bars -->
    <div class="col-lg-3 col-md-3 col-sm-3 col-x3-3">
      <div class="panel panel-default">
        <div class="panel-heading">
          <h3 class="panel-title">Filter Posts</h3>
        </div>
        <div class="panel-body">
          <p class="panel-title">Sort By</p>
          <div class="form-group">
            <label for="">Category:</label>
            <select class="form-control" id="category" ng-click="getPosts()">
              <option value="null">Select Category</option>
              <option ng-repeat="c in categories" value="{{c.type2}}">{{c.name}}</option>
            </select>
          </div>
          <div class="form-group">
            <label for="">County:</label>
            <select class="form-control" id="county" ng-click="getPosts()">
              <option value="null">Select County</option>
              <option ng-repeat="ct in counties"value="{{ct.value}}">{{ct.text}}</option>
            </select>
          </div>
          <hr>
          <p class="panel-title">Order By</p>
          <div class="form-group">
            <label for="">Status</label>
            <select class="form-control" id="order" ng-click="orderBy()">
              <option value="date">Date</option>
              <option value="current_status">Status</option>
            </select>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="row" ng-include="'app/templates/footer.html'">
</div>



<!-- Modal which appears when a post on forum is clicked  -->
<div class="modal fade" tabindex="-1" id="myModal" role="dialog">
    <div class="modal-dialog modal-lg">

      <!-- Modal content-->
      <div class="panel panel-success">
        <div id="mTitle" class="panel-heading">TITLE<button type="button" class="close" data-dismiss="modal"><span class="glyphicon glyphicon-remove-circle"></span></button></div>
         <div class="panel-body">
          <div class="col-md-6">
            <h4>Category</h4>
                <p id="mCat">Health Hazards - Garbage Collection</p>
            <br><hr>
            <h4>Location</h4>
                <p id="mCounty"></p>
                <p id="mLoc">Chaguanas Main Road</p>
            <br>
          </div>
          <div class="col-md-6">
            <h4>Status</h4>
                <p id="mStatus">Ongoing</p>
            <br><hr>
            <h4>Date</h4>
                <p id="mDate">03/02/2017</p>
            <br>
          </div>
          <div class="col-md-12">
            <hr>
            <h4>Summary</h4>
            <p id="mSum">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
          </div>
        </div>
      </div>

    </div>
</div>
