
<div class="row">
  <div class="col-lg-10 col-lg-offset-1 text-center">
    <div class="col-lg-8">
    <button class="btn btn-block btn btn-danger" type="button" name="button" ui-sref="makepost"><b>Make a Post</b> <span class="glyphicon glyphicon-pencil"></span> </button>
    </div>
    <div class="col-lg-4">
      <div class="dropdown">
        <button class="btn btn-block btn-primary dropdown-toggle" type="button" data-toggle="dropdown">Select Category <span class="caret"></span></button>
        <ul class="dropdown-menu">
          <li class="dropdown-header">Disaster</li>
          <li><a href="">Flooding</a></li>
          <li role="separator" class="divider"></li>
          <li class="dropdown-header">Public Infrasture</li>
          <li><a href="">Road Repairs</a></li>
          <li role="separator" class="divider"></li>
          <li class="dropdown-header">Health Hazards</li>
          <li><a href="">Garbage Collection</a></li>

        </ul>
      </div>
    </div>
  </div>
</div>
<br>
<div class="row">
  <div class="col-lg-10 col-lg-offset-1">
    <div class="col-lg-12">
      <div id="r1" class="panel panel-primary">
        <div class="panel-heading">
          <h3 class="panel-title">Infrastructure Reports Forum</h3>
        </div>

            <table class="table table-bordered">
              <thead>
                <tr>
                  <th>Title</th>
                  <th>Status</th>
                  <th>Date Posted</th>
                  <th>Like/Dislike</th>
                </tr>
              </thead>
              <tbody>
              <tr>

                <td class="hoverTitle" data-toggle="modal" data-target="#myModal">Title of a report</td>
                <td class="wtable">Ongoing</td>
                <td class="wtable">03/01/2017</td>

                <td class="wtable1">
                  <a class="btn btn-primary" href="#">
                    <span class="glyphicon glyphicon-thumbs-up"></span>
                  </a>
                  <span class="badge">5</span>
                  <a class="btn btn-danger" href="#">
                    <span class="glyphicon glyphicon-thumbs-down"></span>
                  </a>
                  <span class="badge">1</span>
                </td>

              </tr>
              <tr>
                <td class="hoverTitle" data-toggle="modal" data-target="#myModal">Title of a report</td>
                <td>Fixed</td>
                <td>03/01/2017</td>
                <td>
                  <a class="btn btn-primary" href="#">
                    <span class="glyphicon glyphicon-thumbs-up"></span>
                  </a>
                  <span class="badge">5</span>
                  <a class="btn btn-danger" href="#">
                    <span class="glyphicon glyphicon-thumbs-down"></span>
                  </a>
                  <span class="badge">1</span>
                </td>
              </tr>
            </tbody>
            </table>

      </div>
    </div>
  </div>
</div>
<div class="row" ng-include="'app/templates/footer2.html'">
</div>



<div class="modal fade" tabindex="-1" id="myModal" role="dialog">
    <div class="modal-dialog modal-lg">

      <!-- Modal content-->
      <div class="panel panel-success">
        <div class="panel-heading">TITLE<button type="button" class="close" data-dismiss="modal"><span class="glyphicon glyphicon-remove-circle"></span></button></div>
         <div class="panel-body">
          <div class="col-md-6">
            <h4>Category</h4>
                Health Hazards - Garbage Collection
            <br><hr>
            <h4>Location - Address</h4>
                Chaguanas Main Road
            <br>
          </div>
          <div class="col-md-6">
            <h4>Status</h4>
                Ongoing
            <br><hr>
            <h4>Date</h4>
                03/02/2017
            <br>
          </div>
          <div class="col-md-12">
            <hr>
            <h4>Summary</h4>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
          </div>
        </div>
      </div>

    </div>
</div>
