<!-- header -->
<div class="row" ng-include="'app/templates/header.html'">
</div>


<div class="row">
  <div class="col-lg-10 col-lg-offset-1">
    <div class="col-lg-12 col-md-12 col-sm-12">
      <div class="panel panel-default bshadow">
        <div class="panel-heading">
          <h3 class="panel-title"> View Graphs: <b id="gCat3">Flooding</b></h3>
        </div>
        <div class="panel-body">
          <div class="col-lg-8">
            <div id="vis"></div>
          </div>
          <div class="col-lg-4 alert alert-info">
            <h4>Catergorise Graphs</h4>
            <hr>
            <h5>Select Type of Report:</h5>
              <select id="Cat3" class="form-control" ng-click="updateTag3()">
                <option ng-repeat="c in categories" value="{{c.value}}">{{c.text}}</option>
              </select>
            <h5>Select County:</h5>
            <select id="region3" multiple class="form-control" ng-click="getGReportsQ2()">
              <option value="All" selected="selected">All</option>
              <option ng-repeat="c in counties" value="{{c.value}}">{{c.text}}</option>
            </select>
            <h5>Select Time Period:</h5>
            <div class="col-sm-offset-1">
              <label class="radio-inline">
                <input type="radio" name="inlineRadioOptions" id="inlineRadio1" value="6months" checked ng-click="getGReportsQ2()"> 6 months
              </label>
              <label class="radio-inline">
                <input type="radio" name="inlineRadioOptions" id="inlineRadio2" value="1year" ng-click="getGReportsQ2()"> 1 year
              </label>
              <label class="radio-inline">
                <input type="radio" name="inlineRadioOptions" id="inlineRadio3" value="5years" ng-click="getGReportsQ2()"> 5 years
              </label>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


<div class="row" ng-include="'app/templates/footer.html'">
</div>
