<div class="row">
  <div class="col-lg-10 col-lg-offset-1">
    <div class="container-fluid">
      <div class="jumbotron">
        <h1>Infrastructure Report Management System</h1>
        <p>Easy simple reporting.</p>
      </div>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-lg-10 col-lg-offset-1">
    <div class=" text-center col-md-3">
      <h3><span class="glyphicon glyphicon-pencil"></span></h3>
      <h3>Tell us your issue</h3>
      <p>Select a problem area then give us a short description of the problem</p>
    </div>
    <div class=" text-center col-md-3">
      <h3><span class="glyphicon glyphicon-map-marker"></span></h3>
      <h3>Show us where</h3>
      <p>Pin point the location of concern by clicking on the map.</p>
    </div>
    <div class=" text-center col-md-3">
      <h3><span class="glyphicon glyphicon-picture"></span></h3>
      <h3>Did you take a photo?</h3>
      <p>Upload a picture so we can see how bad things are.</p>
    </div>
    <div class=" text-center col-md-3">
      <h3><span class="glyphicon glyphicon-ok"></span></h3>
      <h3>Report Complete</h3>
      <p>Take a look at the report you made and submit!</p>
    </div>
  </div>
</div>
