<!-- Jumbotron -->
<div class="row">
  <div class="col-lg-10 col-lg-offset-1">
    <div class="container-fluid">
      <div class="jumbotron">
        <h1>Infrastructure Report Management System</h1>
        <p>Easy simple reporting.</p>
      </div>
    </div>
  </div>
</div>
<!-- Welcom steps -->
<div class="row">
  <div class="col-lg-10 col-lg-offset-1 text-center">
    <div class="col-md-3 col-sm-6">
      <h3><span class="glyphicon glyphicon-pencil"></span></h3>
      <h3>What's the problem?</h3>
      <p>Select a category then give us some details.</p>
    </div>
    <div class="col-md-3 col-sm-6">
      <h3><span class="glyphicon glyphicon-map-marker"></span></h3>
      <h3>Show us where!</h3>
      <p>Pin point the location of concern by clicking on the map.</p>
    </div>
    <div class="col-md-3 col-sm-6">
      <h3><span class="glyphicon glyphicon-picture"></span></h3>
      <h3>Got photos?</h3>
      <p>Upload a picture so we can see what you see.</p>
    </div>
    <div class="col-md-3 col-sm-6">
      <h3><span class="glyphicon glyphicon-ok"></span></h3>
      <h3>Report Complete!</h3>
      <p>Have a look at your report then submit.</p>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-lg-10 col-lg-offset-1 text-center">
    <div class="well">
      <p><i>Finally there's an easy way to report your concerns, frustrations and problems with regard to your community.<i></p>
    </div>
  </div>
</div>
<!-- Other functions -->
<div class="row">
  <div class="col-lg-10 col-lg-offset-1 text-center">
    <div class="col-md-4">
      <h2>Fixed, solved!</h2>
      <p>Check the <a ui-sref="forum">Forum</a> to see what's been taken care of.</p>
    </div>
    <div class="col-md-4">
      <h2>See what's happening.</h2>
      <p>View <a ui-sref="reports">Reports</a>  from other users on their concerns.</p>
    </div>
    <div class="col-md-4">
      <h2>How's the progress?</h2>
      <p>See the what the data collected shows in <a ui-sref="graphs">Graphical</a> form.</p>
    </div>

  </div>
</div>
