<!-- header -->
<div class="row" ng-include="'app/templates/header.html'">
</div>

<div class="row">
  <div class="col-lg-10 col-lg-offset-1">
    <!-- left column -->
    <div class="col-lg-5 col-md-5 col-sm-5">
      <div class="panel panel-default">
        <div class="panel-body">
          <h3>Enter Details</h3>
          <form>
            <div class="form-group">
              <label for="select">Category:</label>
              <select id="category" class="form-control" ng-click="getReportsQ()">
                <option value="All">Select Category</option>
                <option value="flooding">Flooding</option>
                <option value="road_repair">Road Repairs</option>
                <option value="garbage_collection">Garbage Collection</option>
              </select>
            </div>
            <div class="form-group">
              <label for="email">County:</label>
              <select id="county" class="form-control" ng-click="getReportsQ()">
                <option value="All">Select County</option>
                <option value="Caroni">Caroni</option>
                <option value="Mayaro">Mayaro</option>
                <option value="Nariva">Nariva</option>
                <option value="Saint Andrew">Saint Andrew</option>
                <option value="Saint David">Saint David</option>
                <option value="Saint George">Saint George</option>
                <option value="Saint Patrick">Saint Patrick</option>
                <option value="Victoria">Victoria</option>
              </select>
            </div>
            <div ng-switch="postMarker"class="form-group">
              <label for="marker">Marker Area:</label>
              <div ng-switch-when="1"class="form-group has-success has-feedback">
                <input type="text" class="form-control" placeholder="Marker Seleted" id="inputSuccess2" aria-describedby="inputSuccess2Status" readonly="">
                <span class="glyphicon glyphicon-ok-sign form-control-feedback" aria-hidden="true"></span>
                <span id="inputSuccess2Status" class="sr-only">(success)</span>
              </div>
              <div ng-switch-when="0"class="form-group has-error has-feedback">
                <input type="text" class="form-control" placeholder="No Marker Seleted" id="inputSuccess2" aria-describedby="inputSuccess2Status" readonly="">
                <span class="glyphicon glyphicon-remove-sign form-control-feedback" aria-hidden="true"></span>
                <span id="inputSuccess2Status" class="sr-only">(success)</span>
              </div>
              <div ng-switch-when="null"class="form-group has-warning has-feedback">
                <input type="text" class="form-control" placeholder="No markers available. Select a criteria" id="inputSuccess2" aria-describedby="inputSuccess2Status" readonly="">
                <span class="glyphicon glyphicon-warning-sign form-control-feedback" aria-hidden="true"></span>
                <span id="inputSuccess2Status" class="sr-only">(success)</span>
              </div>
            </div>
            <div class="form-group">
              <label for="title">Title:</label>
              <input class="form-control" type="text" id="title" placeholder="Enter Title">
            </div>
            <div class="form-group">
              <label for="email">Status:</label>
              <select id="status" class="form-control">
                <option>Select</option>
                <option value="ongoing">Ongoing</option>
                <option value="fixed">Fixed</option>
              </select>
            </div>
            <div class="form-group">
              <label for="description">Summary:</label>
              <textarea class="form-control" rows="5" id="summary"></textarea>
            </div>
            <hr>
            <div class="form-group">
              <button type="submit" class="btn btn-block btn-success" onclick="addPost();" ui-sref="forum">Submit Report</button>
            </div>
          </form>
        </div>
      </div>
      <button class="btn btn-default" type="button" name="button" ui-sref="forum">Cancel</button>
    </div>
    <!-- rightcolumn -->
    <div class="col-lg-7 col-md-7 col-sm-7">
      <div class="alert alert-info" role="alert">
        <h4><span class="glyphicon glyphicon-info-sign"></span> How to specify target location</h4>
        <p>
          <small>
            To select the target area, click one of the markers of your chosen criteria The marker will be animated on the map.
          </small>
        </p>
        <p>
          <small>
            To select a different marker, close the window of the current marker and select another of your choice.
          </small>
        </p>
      </div>

      <h3>Select Report Marker</h3>
      <div class="panel panel-default">
        <div class="panel-body">
          <ui-gmap-google-map center='map.center' zoom='map.zoom' events='map.events'>
            <ui-gmap-marker ng-repeat="m in map.markers" coords="m.coords" icon="m.icon" idkey="m.id" data-events="m.events" options="m.options" click="m.events.click()">
              <ui-gmap-window coords="m.coords" options="windowOptions" closeClick="closeClick()">
                <div class="">
                  <h5>{{m.window.title}} <span>|</span> <small>{{m.window.date}}</small></h5>
                  <h6>{{m.window.addr}}</h6>
                  <p>Staus:{{m.status}}</p>
                  <p>-"{{m.window.desc}}"</p>
                </div>
              </ui-gmap-window>
            </ui-gmap-marker>
          </ui-gmap-google-map>

        </div>
      </div>
    </div>

  </div>
</div>

<div class="row" ng-include="'app/templates/footer.html'">
</div>
