<!-- header -->
<div class="row" ng-include="'app/templates/header.html'">
</div>

<div class="row">
  <div class="col-lg-10 col-lg-offset-1">
    <!-- left column -->
    <div class="col-lg-5 col-md-5 col-sm-5">
      <div class="panel panel-default">
        <div class="panel-body">
          <h3>Enter Details</h3>
          <form>
            <div class="form-group">
              <label for="Select">Category:</label>
              <select id="categorySelect" class="form-control">
                <option>Select</option>
                <option value="flooding">Flooding</option>
                <option value="road_repair">Road Repairs</option>
                <option value="garbage_collection">Garbage Collection</option>
              </select>
            </div>
            <div class="form-group">
              <label for="title">Title:</label>
              <input class="form-control" type="text" id="tpost" placeholder="Enter Title">
            </div>
            <div class="form-group">
              <label for="Select"><b>Address Line:</b></label>
              <div class="input-group">
                <input type="text" class="form-control" dl-enter-key="getLocation3()"id="newAddressPost" placeholder="Search for Address...">
                <span class="input-group-btn">
                  <button class="btn btn-info" type="button" ng-click='getLocation3()'>View on Map <span class="glyphicon glyphicon-search"></span></button>
                </span>
              </div>
            </div>
            <div class="form-group">
              <label for="email">Status:</label>
              <select id="statusSelect" class="form-control">
                <option>Select</option>
                <option value="ongoing">Ongoing</option>
                <option value="fixed">Fixed</option>
              </select>
            </div>
            <div class="form-group">
              <label for="description">Summary:</label>
              <textarea class="form-control" rows="5" id="summary"></textarea>
            </div>
            <hr>
            <div class="form-group">
              <button type="submit" class="btn btn-block btn-success" ng-click="getLatLng()" onclick="addPost();" ui-sref="forum">Submit Report</button>
            </div>
          </form>
        </div>
      </div>
      <button class="btn btn-default" type="button" name="button" ui-sref="forum">Cancel</button>
    </div>
    <!-- rightcolumn -->
    <div class="col-lg-7 col-md-7 col-sm-7">
      <div class="alert alert-info" role="alert">
        <h4><span class="glyphicon glyphicon-info-sign"></span> How to add the location</h4>

        <p>
          <small>
            To select a location by address, type the address then search. The location will be displayed on the map.
          </small>
        </p>
        <p>
          <small>
            To use your current location, click the 'Use Current Location button'. The location will be displayed on the map.
          </small>
        </p>
        <p>
          <small>
            Marker can be dragged to any location accordingly.
          </small>
        </p>
      </div>

      <h3>Location (Marker is draggable)</h3>
      <div class="panel panel-default">
        <div class="panel-body">
          <ui-gmap-google-map center='map.center' zoom='map.zoom' events='map.events'>
            <ui-gmap-marker ng-repeat="m in map.markers" coords="m.coords" icon="m.icon" idkey="m.id" data-events="m.events" options="markerOptions">
            </ui-gmap-marker>
          </ui-gmap-google-map>

        </div>
      </div>
    </div>

  </div>
</div>

<div class="row" ng-include="'app/templates/footer.html'">
</div>
