<nav class="navbar navbar-inverse navbar-static-top">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand faa-wrench animated-hover" ui-sref="/"><img src="/app/images/fav.png" alt="Brand" style="margin-top: -8px"></a>
    </div>
    <div class="collapse navbar-collapse" id="myNavbar">
      <ul class="nav navbar-nav">
        <li><a class="faa-parent animated-hover" ui-sref="/"><span class="glyphicon glyphicon-home faa-vertical"></span> Home</a></li>
        <li><a class="faa-parent animated-hover" ui-sref="reports"><span class="glyphicon glyphicon-comment faa-shake"></span> Reports</a></li>
        <li><a class="faa-parent animated-hover" ui-sref="forum"><span class="glyphicon glyphicon-th-list faa-spin"></span> Forum</a></li>
        <li><a class="faa-parent animated-hover" ui-sref="graphs"><span class="glyphicon glyphicon-stats faa-flash"></span> Graphs</a></li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li><a class="faa-parent animated-hover" href="#"data-toggle="modal" data-target="#myModal4"><span class="glyphicon glyphicon-log-in faa-horizontal"></span> Login</a></li>
      </ul>
    </div>
  </div>
</nav>
