<!-- header -->
<div class="row" ng-include="'app/templates/header.html'">
</div>
<div class="row">
  <div class="col-lg-10 col-lg-offset-1 text-center">

    <!-- Make a Report -->
    <div class="col-lg-8 col-md-8 col-sm-8 col-xs-12">
      <button class="btn btn-block btn btn-danger" type="button" ui-sref="makereport.1" onclick="clearLS();"><b>Click to make a New Report</b> <span class="glyphicon glyphicon-pencil"></span> </button>
    </div>
    <!-- Select Category -->
    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
      <div class="dropdown">
        <button class="btn btn-block btn-primary dropdown-toggle" type="button" data-toggle="dropdown">Select Category <span class="caret"></span></button>
        <ul class="dropdown-menu">
          <li><a href="" ng-click="updateTag1('All Categories');">All Categories</a></li>
          <li role="separator" class="divider"></li>
          <li class="dropdown-header">Disaster</li>
          <li><a href="" ng-click="updateTag1('Flooding');">Flooding</a></li>
          <li role="separator" class="divider"></li>
          <li class="dropdown-header">Public Infrasture</li>
          <li><a href="" ng-click="updateTag1('Road Repairs');">Road Repairs</a></li>
          <li role="separator" class="divider"></li>
          <li class="dropdown-header">Health Hazards</li>
          <li><a href="" ng-click="updateTag1('Garbage Collection');">Garbage Collection</a></li>
        </ul>
      </div>
    </div>
  </div>
</div>
<!-- &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp  -->
<div id="a1" class="row">
  <div class="col-lg-10 col-lg-offset-1">
    <!-- Map -->
    <div class="col-lg-8 col-md-8 col-sm-8">
      <div class="panel panel-default bshadow">
        <div class="panel-heading hmap">
          <div id="regio1" class="form-group pull-right space">
            <select  id="region1" class="form-control" ng-click="getReportsQ()">
              <option ng-repeat="c in counties" value="{{c.value}}">{{c.text}}</option>
            </select>
          </div>
          <h3 class="panel-title mheader">Map : <b id="Cat2">All Categories</b></h3>
        </div>
        <div class="panel-body">
          <div id="r1">
            <ui-gmap-google-map center='map.center' zoom='map.zoom' events='map.events' options="map.options" bounds='map.bounds'>
              <ui-gmap-marker ng-repeat="m in map.markers" coords="m.coords" icon="m.icon" idkey="m.id" options="m.options" click="m.events.click()">
                <ui-gmap-window coords="m.coords" options="windowOptions" closeClick="closeClick()">
                  <div class="">
                    <h5>{{m.window.title}} <span>|</span> <small>{{m.window.date}}</small></h5>
                    <h6>{{m.window.addr}}</h6>
                    <p><b>Status: {{m.status}}</b></p>
                    <p><i>-"{{m.window.desc}}"</i></p>
                  </div>
                </ui-gmap-window>
              </ui-gmap-marker>
            </ui-gmap-google-map>
          </div>
        </div>
      </div>
    </div>
    <!-- Reports -->
    <div class="col-lg-4 col-md-4 col-sm-4">
      <div id="r1" class="panel panel-default ht bshadow">
        <div class="panel-heading">
          <h3 class="panel-title">
            Reports
            <div class="pull-right">Ordered By: Date</div>
          </h3>
        </div>

        <table class="table table-striped table-condensed table-bordered">
          <tbody id="reportTable">
            <tr ng-repeat="r in reports |orderBy:'-date'" ng-switch="currentUser.authentication || null">
              <td class="hidden">{{r.id}}</td>
              <td class="hoverTitle" ng-click="showMarker(r.id)">{{r.window.title}}</td>
              <td class="rtable">
                <a class="btn btn-xs btn-primary" href="#">
                  <span class="glyphicon glyphicon-thumbs-up"></span>
                </a>
                <span class="badge">5</span>
                <a class="btn btn-xs btn-danger" href="#">
                  <span class="glyphicon glyphicon-thumbs-down"></span>
                </a>
                <span class="badge">1</span>
              </td>
              <td ng-switch-when="1">
                <button class="btn btn-xs btn-success"type="button" ng-click="makePost(r.id)" ui-sref="makepost">Post</button>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>

  </div>
</div>

<div class="row" ng-include="'app/templates/footer.html'">
</div>
