<div class="row">
  <div class="col-lg-10 col-lg-offset-1">
    <hr>
  </div>
</div>
<div class="row">
  <div class="col-lg-10 col-lg-offset-1 text-center">
    <!-- Make a Report -->
    <div class="col-lg-8">
      <button class="btn btn-block btn btn-danger"type="button" name="button"><b>Make a Report</b> <span class="glyphicon glyphicon-pencil"></span> </button>
    </div>
    <!-- Select Category -->
    <div class="col-lg-4">
      <div class="dropdown">
        <button class="btn btn-block btn-primary dropdown-toggle" type="button" data-toggle="dropdown">Select Category <span class="caret"></span></button>
        <ul class="dropdown-menu">
          <li><a href="#">Option 1</a></li>
          <li><a href="#">Option 2</a></li>
          <li><a href="#">Option 3</a></li>
        </ul>
      </div>
    </div>
  </div>
</div>

<div id="a1" class="row">
  <div class="col-lg-10 col-lg-offset-1">
      <!-- Map -->
    <div class="col-lg-8">
      <div class="panel panel-default">
        <div class="panel-heading">
          <h3 class="panel-title">Map</h3>
        </div>
        <div class="panel-body">
          <div id="r1">
            <ui-gmap-google-map center='map.center' zoom='map.zoom'></ui-gmap-google-map>
          </div>
        </div>
      </div>
    </div>
    <!-- Reports -->
    <div class="col-lg-4">
      <div id="r1" class="panel panel-default">
        <div class="panel-heading">
          <h3 class="panel-title">Reports</h3>
        </div>

        <ul class="list-group">
          <li class="list-group-item">
            <a href="#">Title reportqasdasdasd</a>

              <a class="btn btn-primary" href="#">
                <span class="glyphicon glyphicon-thumbs-up"></span>
                <span class="badge">5</span>
              </a>
                <a class="btn btn-danger" href="#">
                  <span class="glyphicon glyphicon-thumbs-down"></span>
                  <span class="badge">1</span>
              </a>
          </li>

        </ul>
      </div>
    </div>

  </div>
</div>
