html,body{
  height: 100%;
}
body {
  background-color: white;
  min-height: 100%;
   overflow-x:hidden;
}
.footer{
  padding-top: 10px;
  background-color: #141414;
  color: white;
  padding-bottom: 10px;

  width: 100%;
  margin-top: 100px;
  bottom: 0;
  position: relative;
}
.tcolor{
  color: #707B7C;
}


#body1{
    /*height: 700px;*/
}

/*#ff1{

  border-bottom: 0px;
  border-left: 0px;
  border-top: 0px;
  border-right: 1px;
  border-color: white;
  border-style: solid;
}

#ff2{
  height: 100%;
  border-bottom: 0px;
  border-left: 0px;
  border-top: 0px;
  border-right: 1px;
  border-color: white;
  border-style: solid;
}*/

.views.ng-enter,
.views.ng-leave      { position:absolute; left:30px; right:30px;
    transition:0.5s all ease; -moz-transition:0.5s all ease; -webkit-transition:0.5s all ease;
}

/* enter animation */
.views.ng-enter            {
    -webkit-animation:slideInRight 0.5s both ease;
	-moz-animation:slideInRight 0.5s both ease;
	animation:slideInRight 0.5s both ease;
}

/* leave animation */
.views.ng-leave            {
    -webkit-animation:slideOutLeft 0.5s both ease;
	-moz-animation:slideOutLeft 0.5s both ease;
	animation:slideOutLeft 0.5s both ease;
}

/* ANIMATIONS
============================================================================= */
/* slide out to the left */
@keyframes slideOutLeft {
	to 		{ transform: translateX(-100%); }
}
@-moz-keyframes slideOutLeft {
	to 		{ -moz-transform: translateX(-100%); }
}
@-webkit-keyframes slideOutLeft {
	to 		{ -webkit-transform: translateX(-100%); }
}

/* slide in from the right */
@keyframes slideInRight {
	from 	{ transform:translateX(100%); }
	to 		{ transform: translateX(0); }
}
@-moz-keyframes slideInRight {
	from 	{ -moz-transform:translateX(200%); }
	to 		{ -moz-transform: translateX(0); }
}
@-webkit-keyframes slideInRight {
	from 	{ -webkit-transform:translateX(200%); }
	to 		{ -webkit-transform: translateX(0); }
}
