<!DOCTYPE html>
<html>
  <head>
    <base href="/">
    <meta charset="utf-8">
    <title>IRMS</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width">
    <link rel="icon" type="image/png" href="/app/images/fav.png" />
    <link rel="stylesheet" href="/bower_components/bootstrap/dist/css/bootstrap.css">
    <link rel="stylesheet" href="bower_components\font-awesome-animation\dist\font-awesome-animation.min.css">

    <!-- build:css({.tmp,src}) styles/vendor.css -->
    <!-- bower:css -->
    <!-- run `gulp inject` to automatically populate bower styles dependencies -->
    <!-- endbower -->
    <!-- endbuild -->

    <!-- build:css({.tmp,src}) styles/app.css -->
    <!-- inject:css -->
    <!-- css files will be automatically insert here -->
    <!-- endinject -->
    <!-- endbuild -->
    <script src="/bower_components/angular/angular.js"></script>
    <script src="/bower_components/angular-animate/angular-animate.js"></script>
    <script src='//maps.googleapis.com/maps/api/js?key=AIzaSyAvZKb80TdlprwDF1Bn-yjHDIofwIhlR1U'></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/d3/3.5.17/d3.js" charset="utf-8"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/vega/2.6.5/vega.js" charset="utf-8"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/vega-lite/1.3.1/vega-lite.js" charset="utf-8"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/vega-embed/2.2.0/vega-embed.js" charset="utf-8"></script>

  </head>

  <body ng-app="app">
    <div ng-include="'app/templates/navbar.html'">
    </div>
    <div id="body1" class="container-fluid">
      <ui-view class=""></ui-view>
    </div>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="bower_components\bootstrap\dist\js\bootstrap.js"></script>
  </body>

  <div class="modal fade" tabindex="-1" id="myModal4" role="dialog">
      <div class="modal-dialog modal-md">

        <!-- Modal content-->
        <div class="panel panel-default">
          <div class="panel-heading">
            <h3 class="panel-title">Employee Login<button type="button" class="close" data-dismiss="modal"><span class="glyphicon glyphicon-remove-circle"></span></button></h3>
          </div>
          <div class="panel-body">
            <div class="col-md-6">
            <form ng-controller ="LoginController" ng-submit = "login(credentials)"  class="" novalidate>
              <div class="form-group">
                <label for="">Username</label>
                <input type="text" ng-model="credentials.username" class="form-control" id="" placeholder="">
              </div>
              <div class="form-group">
                <label for="">Password</label>
                <input type="password"  ng-model="credentials.password"  class="form-control" id="" placeholder="">
              </div>
              <button class="btn btn-primary"type="submit" name="button">Login</button>
            </form>
              </div>
            <div class="col-md-6 alert alert-info" role="alert">


                <h4><span class="glyphicon glyphicon-info-sign"></span> Offcial Use</h4>
                <p>Login for Employees of registered Regional Corporations only.</p>
            </div>
          </div>
        </div>
      </div>
  </div>
  <!-- build:js({.tmp,src}) scripts/vendor.js -->
  <!-- bower:js -->
  <!-- run `gulp inject` to automatically populate bower script dependencies -->
  <!-- endbower -->
  <!-- endbuild -->

  <!-- build:js({.tmp,src}) scripts/app.js -->
  <!-- inject:js -->
  <!-- js files will be automatically insert here -->
  <!-- endinject -->
  <!-- inject:partials -->
  <!-- angular templates will be automatically converted in js and inserted here -->
  <!-- endinject -->
  <!-- endbuild -->
</html>
