<!-- right column -->
<div class="col-lg-5 col-md-5 col-sm-5">
  <h3>Summary and Confirmation</h3>
  <h4>Category</h4>
  <p>Something here</p>
  <h4>Title</h4>
  <p>Something here</p>
  <h4>Description</h4>
  <p>Something here that is longish like, Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>

  <hr>
  <div class="form-group">
    <button type="back" class="btn btn-danger" ui-sref="makereport.3">Back</button>
    <button class="btn btn-default pull-right" type="button" name="button" ui-sref="reports">Cancel</button>
  </div>
  <button type="submit" class="btn btn-block btn-success">Submit Report</button>
</div>
<!-- left column -->
<div class="col-lg-7 col-md-7 col-sm-7">
  <h4>Location</h4>
  <div class="thumbnail">
    map here of location
  </div>
  <h4>Problem Photo</h4>
  <div class="thumbnail">

  </div>
</div>
