<div class="col-lg-5 col-md-5 col-sm-5 col-xs-5">
  <div class="panel panel-default">
    <div class="panel-body">
      <h3>Problem Photo</h3>
      <form>
        <div class="form-group">
          <label for="">Photo:</label>
          <input type="file" class="form-control">
          <p class="help-block">(Optional)</p>
          <button type="button" class="btn btn-default"><span class="glyphicon glyphicon-upload"></span> Upload</button>
        </div>

        <hr>
        <div class="form-group">
          <button type="back" class="btn btn-danger" ui-sref="makereport.2">Back</button>
          <button type="next" class="btn btn-primary pull-right" ui-sref="makereport.4">Next</button>
        </div>
      </form>
    </div>
  </div>
  <button class="btn btn-default" type="button" name="button" ui-sref="reports">Cancel</button>
</div>
<div class="col-lg-7 col-md-7 col-sm-7 col-xs-7">
  <div class="alert alert-info">
    <h4><span class="glyphicon glyphicon-info-sign"></span> About uploading a Photo</h4>
    <p>
      <small>
        Please help us prioritise problems by attaching pictures but only if safe to do so!
      </small>
    </p>
  </div>
</div>
