<!-- right column -->
<div class="col-lg-5 col-md-5 col-sm-5 col-xs-5">
  <div class="panel panel-default">
    <div class="panel-body">
      <h3>Problem Location</h3>
      <form>
        <div class="form-group">
          <label for="email">County:</label>
          <select id="select2" class="form-control">
            <option value="">Counties - All</option>
            <option value="Caroni">Caroni</option>
            <option value="Mayaro">Mayaro</option>
            <option value="Nariva">Nariva</option>
            <option value="Saint Andrew">Saint Andrew</option>
            <option value="Saint David">Saint David</option>
            <option value="Saint George">Saint George</option>
            <option value="Saint Patrick">Saint Patrick</option>
            <option value="Victoria">Victoria</option>
          </select>
        </div>
        <div class="form-group">
          <label for="Select"><b>Address Line:</b></label>
          <div class="input-group">
            <input type="text" class="form-control" id="newAddress" placeholder="Search for Address...">
            <span class="input-group-btn">
              <button class="btn btn-info" type="button" ng-click="getLocation2()">View on Map <span class="glyphicon glyphicon-search"></span></button>
            </span>
          </div>
        </div>

        <div class="row">
          <div class="text-center">
            <h4><b><i>OR</i></b></h4>
          </div>
        </div>

        <div class="form-group">
          <button type="button" class="btn btn-info btn-block" ng-click='getLocation()'>Use Current Location</button>
        </div>

        <hr>
        <div class="form-group">
          <button type="back" class="btn btn-danger" ui-sref="makereport.1">Back</button>
          <button type="next" class="btn btn-primary pull-right" ng-click="getLatLng()" onclick="validateForm2();" ui-sref="makereport.3">Next</button>
        </div>
      </form>
    </div>
  </div>
  <button class="btn btn-default" type="button" name="button" ui-sref="reports">Cancel</button>
</div>
<!-- left column -->
<div class="col-lg-7 col-md-7 col-sm-7 col-xs-7">
  <div class="alert alert-info" role="alert">
    <h4><span class="glyphicon glyphicon-info-sign"></span> How to add the location</h4>
    <p>
      <small>
        To select a location by address, type the address then search. The location will be displayed on the map.
      </small>
    </p>
    <p>
      <small>
        To use your current location, click the 'Use Current Location button'. The location will be displayed on the map.
      </small>
    </p>
    <p>
      <small>
        Marker is draggable and can be moved to any location specified.
      </small>
    </p>
  </div>
  <!-- Map -->
  <h3>Location (Marker is draggable)</h3>
  <div class="panel panel-default">
    <div class="panel-body">
      <ui-gmap-google-map center='map.center' zoom='map.zoom' events='map.events'>
        <ui-gmap-marker ng-repeat="m in map.markers" coords="m.coords" icon="m.icon" idkey="m.id" data-events="m.events" options="markerOptions">
        </ui-gmap-marker>
      </ui-gmap-google-map>
    </div>
  </div>
</div>
