<!-- right column -->
<div class="col-lg-5 col-md-5 col-sm-5">
  <h3>Problem Location</h3>
  <form>
    <div class="form-group">
      <label for="Select"><b>Address Line:</b></label>
      <div class="input-group">
        <input type="text" class="form-control" id="newAddress" placeholder="Search for Address...">
        <span class="input-group-btn">
          <button class="btn btn-info" type="button" ng-click="getLocation2()"><span class="glyphicon glyphicon-search"></span></button>
        </span>
      </div>
    </div>

    <div class="row">
      <div class="text-center">
        <h4><b><i>OR</i></b></h4>
      </div>
    </div>

    <div class="form-group">
        <button type="button" class="btn btn-info btn-block" ng-click='getLocation()'>Use Current Location</button>
    </div>

    <hr>
    <div class="form-group">
      <button type="back" class="btn btn-danger" ui-sref="makereport.1">Back</button>
      <button type="next" class="btn btn-primary pull-right" ui-sref="makereport.3">Next</button>
    </div>
    <button class="btn btn-default" type="button" name="button" ui-sref="reports">Cancel</button>
  </form>
</div>
<!-- left column -->
<div class="col-lg-7 col-md-7 col-sm-7">
  <div class="alert alert-info" role="alert">
    <h4><span class="glyphicon glyphicon-info-sign"></span> How to add the location</h4>

    <p>
      <small>
        To select a location by address, type the address then search. The location will be displayed on the map.
      </small>
    </p>
    <p>
      <small>
        To use your current location, click the 'Use Current Location button'. The location will be displayed on the map.
      </small>
    </p>
  </div>

  <h3>Location on the Map</h3>
  <div class="panel panel-default">
    <div class="panel-body">
      <ui-gmap-google-map center='map.center' zoom='map.zoom' events='map.events'>
        <ui-gmap-marker ng-repeat="m in map.markers" coords="m.coords" icon="m.icon" idkey="m.id" options="markerOptions"></ui-gmap-marker>
      </ui-gmap-google-map>
    </div>
  </div>
</div>
