<div class="col-lg-5 col-md-5 col-sm-5">
  <h3>Enter Details</h3>
  <form>
    <div class="form-group">
      <label for="Select">Category:</label>
        <select id="disabledSelect" class="form-control">
          <option>Select</option>
        </select>
    </div>

    <div class="form-group">
      <label for="email">Title:</label>
      <input type="text" class="form-control" id="title" placeholder="Enter Title">
    </div>


    <div class="form-group">
      <label for="description">Description:</label>
      <textarea class="form-control" rows="5" id="description"></textarea>
    </div>

    <hr>
    <div class="form-group">
      <button type="back" class="btn btn-danger disabled">Back</button>
      <button type="next" class="btn btn-primary pull-right" ui-sref="makereport.2">Next</button>
    </div>
  </form>

  <button class="btn btn-default" type="button" name="button" ui-sref="reports">Cancel</button>
</div>
